.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Showproduct_heading {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.navbar .nav-link {
  color: white;
}
.navbar .cart-Item {
  margin-left: auto;
}
.myCart {
  position: fixed;
  top: 55px;
  right: 0;
  width: 400px;
  height: 560px;
  z-index: 33;
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.myCart h3 {
  text-align: left;
}
.myCart .flexheader-myCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myCart .flexitems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.heading-myCart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
